.resume {
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
}
