:root {
  /* Colors */

  --background-primary: #ffffff;
  --text-primary: #000000;

  /* Spacing */

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-24: 96px;

  /* Typography */

  --font-size-body: 14px;
  --font-size-h4: 16px;
  --font-size-h3: 18px;
  --font-size-h2: 20px;
  --font-size-h1: 30px;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;
}
